<!DOCTYPE html>
<html data-ng-app="exampleApp">
  <head>

    <title>node-ora-sp.com</title>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-toastr.tpls.js"></script>
    <script src="/js/dependencies/angular-touch.js"></script>
    <script src="/js/dependencies/angular-ui-router.js"></script>
    <script src="/js/dependencies/loading-bar.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
    <script src="/js/dependencies/xeditable.js"></script>
    <script src="/js/exampleApp.js"></script>
    <script src="/js/angular-sails-bind.js"></script>
    <script src="/js/departmentsCtrl.js"></script>
    <script src="/js/employeesCtrl.js"></script>
    <script src="/js/navCtrl.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/loading-bar.css">
    <link rel="stylesheet" href="/styles/xeditable.css">
    <!--STYLES END-->

  </head>
  <body>
    <div data-ui-view></div>
  </body>
</html>
