<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employees</h3>
  </div>
  <table class="table table-striped table-condensed table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="hidden-xs">Hire Date</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Commission</th>
        <th>Manager ID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees" ng-animate="'animate'">
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td class="hidden-xs">{{employee.hireDate | date: 'MMM-dd-yyyy'}}</td>
        <td><a editable-select="employee.departmentId" onbeforesave="updateDepartment(employee, $data)" e-ng-options="d.id as d.name for d in departments">{{ showDepartment(employee) || 'NULL' }}</a></td>
        <td><a editable-number="employee.salary" onbeforesave="updateSalary(employee, $data)">{{employee.salary || 'NULL'}}</a></td>
        <td>{{employee.commission | number:2}}</td>
        <td>{{employee.managerId}}</td>
      </tr>
    <tbody>
  </table>
</div>
