<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employees</h3>
  </div>
  <table class="table table-striped table-condensed table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Job</th>
        <th>Hire Date</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Commission</th>
        <th>Manager</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees" ng-animate="'animate'">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.job}}</td>
        <td>{{employee.hireDate}}</td>
        <td>{{employee.department}}</td>
        <td><a editable-number="employee.salary" onbeforesave="updateSalary(employee, $data)">{{employee.salary || 'NULL'}}</a></td>
        <td>{{employee.commission}}</td>
        <td>{{employee.managerId}}</td>
      </tr>
    <tbody>
  </table>
</div>
